
html, body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: rgba(165, 1, 111, 0.5);
}

div {
  box-sizing: border-box;
}

.section {
  display: inline-block;
  width: 40%;
  font-size: 90px;
}

.vs {
  display: inline-block;
  width: 20%;
  font-size: 80px;
}

.left {
  float: left;
}

.right {
  float: right;
}
