html, body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: #fcfcfc;
}

div {
  box-sizing: border-box;
}

.main {
  height: 100%;
  width: 100%;
  /*background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.top {
  position: relative;
  width: 100%;
  padding-top: 30px;
}

.title {
  height: 170px;
  margin-top: 50px;
  margin-bottom: 30px;
  background: url(images/title.svg) no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.playstore {
  height: 70px;
  margin-bottom: 20px;
  background: url(images/playstore.png) no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.playstore:hover, .playstore:focus {
  opacity: 0.85;
  -webkit-transition: 0.2s linear opacity;  
  -moz-transition: 0.2s linear opacity;
  -ms-transition: 0.2s linear opacity; 
  -o-transition: 0.2s linear opacity;
  transition: 0.2s linear opacity;
}

.footer {
  width: 100%;
  background-color: #222;
  padding: 30px 30px 70px 30px;
  font-size: 13px;
  text-align: center;
}

a, a:link, a:focus, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 0.85;
  -webkit-transition: 0.2s linear opacity;  
  -moz-transition: 0.2s linear opacity;
  -ms-transition: 0.2s linear opacity; 
  -o-transition: 0.2s linear opacity;
  transition: 0.2s linear opacity;
}

.facebook-link {
  display: block;
  font-size: 25px;
  margin-top: 10px;
}

.phone {
  height: 900px;
  margin: 70px auto 0 auto;
  background: url(images/phone.png) no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
